body {
  background: linear-gradient(
    135deg,
    rgb(82, 229, 231) 10%,
    rgb(19, 12, 183) 100%
  );
  background-repeat: no-repeat;
  font-family: "Roboto Mono", monospace;
  color: #00204a;
}

.container {
  background-color: #f7f7f7;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #93deff;
  padding: 0 0 30px 0;
}

.app-name {
  text-align: center;
}

h3 {
  margin-left: 100px;
}

.search-form-input {
  background-color: #feffdf;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 15px;
}

.search-form-btn {
  background-color: #f8da5b;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: #00204a;
  font-size: 15px;
}

.search-form-btn:hover {
  cursor: pointer;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

.app-temp-value {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}

.app-temp-unit {
  margin-top: 20px;
  font-size: 28px;
}
.app-temp-icon {
  width: 88px;
  height: 88px;
}

.temperature-container {
  display: flex;
}

main {
  padding: 30px 0;
}

.app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.app-details {
  font-size: 15px;
  line-height: 20px;
}

.app-details strong {
  color: #be3144;
}

.weather-forcast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forcast-date {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.weather-forcast-icon {
  font-size: 48px;
  text-align: center;
  margin-bottom: 10px;
}

.weather-forcast-temperatures {
  text-align: center;
  color: #be3144;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weather-forcast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #93deff;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
}
